.p{
    text-align: center;
}

.border{
    border-style: outset;
    text-align: center;
    width: 340px;
    height: 420px;
    margin: 10px auto;
}

.b {
    padding:10px;
    width: 80%;
    margin:10px auto;
    background-color: green;
    color: white;
    border: 0ch;
}

input{
    padding : 7px 20px;
}

.cancel{
    
    padding:10px;
    width: 20%;
    margin:10px auto;
    background-color: red;
    color: white;
    border: 0ch;
}